body {
  /* background-color: rgb(148, 9, 9); */
  background-color: #2d4059;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
}
#navbar .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75) !important;
}
#navbar .navbar-nav .nav-link:hover {
  color: #fff !important;
}

#welcome-section {
  /* user story 10 yes  height welcome section is equal to view port */
  font-family: cursive;
  margin: 128px 0 2rem;
}
.description {
  padding: 1rem 64px 0;
}

.imgborder {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.img-fluid {
  height: 360px !important;
}
.fcc1 a:hover {
  color: #fff;
}
#welcome-section h1 {
  text-align: center;
  background-color: #0d2a42;
  padding: 10px 20px;
}

@media (max-width: 600px) {
  #welcome-section {
    margin-top: 200px;
    text-align: center;
  }
}
#contact {
  text-align: center;
  padding: 48px 0;
  background-color: #1f2a38;
  color: #fff;
}

#contact h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

#contact p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

#contact-ancr {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact-links {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.contact-links:hover {
  color: #007bff;
}

.contact-links i {
  margin-right: 8px;
}

#contact-details h4 {
  font-size: 24px;
  margin-bottom: 16px;
}

#contact-details p {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Hover effect for email and phone */
#contact-details p:hover {
  color: #007bff; /* Change this to your desired hover color */
  cursor: pointer;
  text-decoration: underline;
}
/* Toast message styles */
#toast-message {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
}
#skills {
  padding: 4rem 0;
}
#skills .list-group {
  font-size: 18px;
  border: none;
  background-color: #f7f7f7;
  padding: 1rem 0;
  color: #333;
}

#skills .list-group-item {
  border: none;
  padding: 0.75rem 1.5rem;
}

#skills .list-group-item i {
  color: #007bff;
}
#skills .list-group-item:hover i {
  color: #999;
}

#skills .list-group-item:hover {
  background-color: #e6e6e6;
  color: #007bff;
  cursor: pointer;
}

#skills h2 {
  color: #007bff;
}
.d-flex {
  gap: 1rem;
}
